<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="icon" type="image/png" href="/images/favicon15.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/favicon32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon96.png" sizes="96x96">
  <title>HackedIn</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/script.js" defer></script>
</head>
<body>
  <nav id="nav-header">
    <div id="nav-logo">
      <a href="/dashboard"><img id="logo" src="/images/logo.png"></a>
    </div>
    <div id="nav-menu">
      <a class="nav-link" href="/dashboard">DASHBOARD</a>
      <a class="nav-link" href="/timeline">NETWORK</a>
      <a class="nav-link" href="/notepad">NOTEPAD</a>
      <span class="nav-link" id="profile-toggle">PROFILE</span>
      <a class="nav-link" href="/auth/logout">LOGOUT</a>
    </div>
  </nav>
  <main>