<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackedIn PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <style>
        html {
            min-height: 100%;
            background-image: url("../css/images/homescreen.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
            background-attachment: fixed;
        }
        body {
            text-align: center;
            font-family: 'Orbitron', sans-serif;
        }
        .homePage {
            color: white;
            display: inline-block;
            margin-top: 275px;
            margin-right: auto;
            margin-left: 400px;
            text-align: center;
        }
        strong {
            font-weight: bold;
        }
        button>img {
            width: 16px;
        }
        button {
            background-color: lightslategrey;
            color:whitesmoke;
            font-size: 16px;
            padding: 8px 12px;
            margin: 18px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        #signup {
            font-size: 12px;
            color:palevioletred;
        }
    </style>
</head>
<body>
    <div class="homePage">
        <div id=hackedIn>
            <h2>Welcome to <h1><img src="../images/logo.png" alt="HackedIn Logo"></h1></h2>
        </div>
        <div>Your dev community brainstorming, social, and resource message board.</div>
        <div>
            <h2>
            <a href="/auth/github">
                <button>
                    Sign in with GitHub   <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg">
                </button>
            </a>
            <br>
                <a id="signup" href="https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home">
                    Don't have a GitHub Account?
                </a>
            </h2>
        </div>
    </div>

</body>
</html>