@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
#avatar-icon {
    width: 200px;
    border-radius: 50%;
}
#logo {
    width: 224px;
}
#nav-header {
    margin: 36px;
    display: flex;
    justify-content: space-between;
}
#nav-menu {
    display: flex;
    justify-content: right;
    font-size: 12px;
    letter-spacing: 4px;
}
#main-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    height: 80vh;
}
#center {
    width: 46%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#left-pane-title {
    /* border: 1px solid white;  */
    margin-right: auto;
}
#TL-page-layout {
    display: flex;
    flex-direction: column;
}
#page-title {
    color: #05d9e8;
    font-size: 56px;
    letter-spacing: 6px;
    writing-mode: vertical-rl;
}
#TL-title {
    color: #05d9e8;
    font-size: 56px;
    letter-spacing: 6px;
    writing-mode: vertical-rl;
}
#page-desc {
    color: #ff2a6d;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 10px;
    writing-mode: vertical-rl;
    text-align: right;
    margin-left: 24px;
}
#left {
    display: flex;
    flex-direction: column-reverse;
}
#right {
    min-width: 400px;
    min-height: 500px;
}
#post-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
#post-button {
    background-color: transparent;
    text-align: right;
    color: #ff2a6d;
    border: none;
    letter-spacing: 2px;
    margin-bottom: 46px;
}
#post-button:hover {
    cursor: pointer;
}
#profile-container {
    border: 1px solid #ff2a6d;
    height:100%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}
#profile-title {
    /* border: 1px solid white; */
    padding: 12px 24px;
    color: #05d9e8;
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 24px;
}
#profile-avatar-container {
    /* border: 1px solid white; */
    margin: 12px auto 32px auto;
}
#profile-edit {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    min-height: fit-content;
}
#profile-edit-button {
    background-color: transparent;
    text-align: right;
    color: #ff2a6d;
    border: none;
    letter-spacing: 2px;
    padding-top: 4px;
}
#profile-edit-button:hover {
    cursor: pointer;
}
#title-username {
    color: #d1f7ff;
}
#profile-toggle:hover {
    cursor: pointer;
}
.active-title {
    color: #d1f7ff;
    margin-bottom: 12px;
}
.profile-cat {
    color: #05d9e8;
    font-size: 12px;
    padding-left: 56px;
    letter-spacing: 4px;
}
.profile-ans {
    font-size: 16px;
    color: #d1f7ff;
    padding-left: 56px;
    margin-bottom: 8px;
}
.nav-link {
    margin: 10px 12px;
    color: #d1f7ff;
}
.main-divider {
    /* border: 1px solid yellow; */
    width: 28%;
}
.hr {
    border: 1px solid #ff2a6d;
    width: 600px;
}
.hr-profile {
    border: 1px solid #005678;
    width: 360px;
    margin: 5px auto;
}
.hr-timeline {
    border: 1px solid #005678;
    width: 700px;
    margin: 5px auto;
}
.post-text {
    width: 500px;
    height: 26px;
    background-color: transparent; 
    border: none;
    color: #d1f7ff;
    font-size: 12px;
    letter-spacing: 2px;
}
.post-box {
    border: 1px solid #005678;
    width: 600px;
    margin-bottom: 12px;
}
.post-box2 {
    border: 1px solid #005678;
    width: 700px;
    margin-bottom: 12px;
}
.post-box-header{
    color: #05d9e8;
    display: flex;
    justify-content: space-between;
    margin: 4px 12px 12px 12px;
}
.post-box-content {
    color: white;
    margin: 4px 12px;
}
.post-box-footer {
    color: #ff2a6d;
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 4px 12px;
    letter-spacing: 4px;
    font-size: 12px;
}
.comment-text {
    width: 500px;
    height: 26px;
    background-color: transparent; 
    border: none;
    color: #d1f7ff;
    font-size: 12px;
    letter-spacing: 2px;
}
.comment-box {
    border: 1px solid #005678;
    width: 600px;
    margin-bottom: 12px;
}
.comment-box-header{
    color: #05d9e8;
    display: flex;
    justify-content: space-between;
    margin: 4px 12px 12px 12px;
}
.comment-box-content {
    color: white;
    margin: 4px 12px;
}
.comment-box-footer {
    color: #ff2a6d;
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 4px 12px;
    letter-spacing: 4px;
    font-size: 12px;
}
#tl-Title {
    color: white;
    font-family: 'Orbitron', sans-serif;
}
#timeline-Container {
    text-align: center;
}
#Community-Posts-TL {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    padding: 5px 10px 15px 20px;
    margin: 25px auto;
}
a {
    text-decoration: none;
}
/*#community-posts {
}
*/

body {
    background-color: #01012b;
    font-family: 'Quicksand', sans-serif;
}
footer {
    color: #ff2a6d;
    text-align: right;
    font-size: 12px;
    letter-spacing: 4px;
    margin-top: auto;
    padding: 25px 10px;
}
::placeholder {
    color: white;
    opacity: .6; /* Firefox */
  }
