@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.avatar-icon {
    width: 174px;
    border-radius: 50%;
    margin-bottom: 16px;
}
#logo {
    width: 224px;
}
#nav-header {
    padding: 36px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
	position: fixed;
	height: 0px;
    width: 95%;
    top: 0%;
	background-color: #01012b;
}
#nav-menu {
    display: flex;
    justify-content: right;
    font-size: 12px;
    letter-spacing: 4px;
}
#main-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    height: 80vh;
}
#center {
    width: 46%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#left-pane-title {
    /* border: 1px solid white;  */
    margin-right: auto;
    margin-bottom: auto;
}
#TL-page-layout {
    display: flex;
    flex-direction: row;
}
#page-title {
    color: #05d9e8;
    font-size: 56px;
    letter-spacing: 6px;
    writing-mode: vertical-rl;
}
#TL-title {
    color: #05d9e8;
    font-size: 56px;
    letter-spacing: 6px;
    writing-mode: vertical-rl;
}
#page-desc {
    color: #ff2a6d;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 10px;
    writing-mode: vertical-rl;
    text-align: right;
    margin-left: 24px;
}
#right-TL {
    position: relative; 
    left: 250px;
}
#left {
    display: flex;
    flex-direction: column-reverse;
}
#right {
    min-width: 400px;
    min-height: 500px;
}
#post-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
#post-button {
    background-color: transparent;
    text-align: right;
    color: #ff2a6d;
    border: none;
    letter-spacing: 2px;
    margin-bottom: 16px;
    font-size: 16px;
}
#post-button:hover {
    cursor: pointer;
}
#profile-container {
    border: 1px solid #ff2a6d;
    height:100%;
    margin-right: 24px;
    display: none;
    flex-direction: column;
}
#profile-title {
    /* border: 1px solid white; */
    padding: 12px 24px;
    color: #05d9e8;
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 24px;
}
#profile-avatar-container {
    /* border: 1px solid white; */
    margin: 12px auto 32px auto;
}
#profile-edit {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    min-height: fit-content;
}
#profile-edit-button {
    background-color: transparent;
    text-align: right;
    color: #ff2a6d;
    border: none;
    letter-spacing: 2px;
    padding-top: 4px;
}
#profile-edit-button:hover {
    cursor: pointer;
}
#title-username {
    color: #d1f7ff;
}
#profile-toggle:hover {
    cursor: pointer;
}
#enter-post-container {
    border: 1px solid #d1f7ff;
    width: 650px;
}
.TL-divider {
    width: 150;
}  
#enter-profile-container {
    border: 1px solid #d1f7ff;
    width: 648px;
    padding: 12px;
}
.notepad-content {
    resize: none;
    width: 675px;
    line-height: 132%;
    color: white;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    border: none;
    font-size: 16px;
}
.notepad-content:hover {
    outline: 1px solid #05d9e8;
}
.notepad-title {
    background-color: transparent;
    border: none;
    color: #05d9e8;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    overflow: visible;
    width: 500px;
}
.notepad-title:hover {
    outline: 1px solid #05d9e8;
}
.post-box-title {
    width: 500px;
}
.profile-box {
    border: 1px solid #005678;
}
.active-title {
    color: #d1f7ff;
    margin-top: 24px;
    margin-bottom: 12px;
}
.profile-cat {
    color: #05d9e8;
    font-size: 12px;
    padding-left: 56px;
    letter-spacing: 4px;
}
.profile-ans {
    font-size: 16px;
    color: #d1f7ff;
    padding-left: 56px;
    padding-right: 56px;
    margin-bottom: 8px;
}
.link:hover {
    text-shadow: 0px 0px 5px #d1f7ff;
}
.nav-link {
    margin: 10px 12px;
    color: #d1f7ff;
}
.nav-link:hover {
    text-decoration: underline;
    color: #ff2a6d;
}

.main-divider {
    /* border: 1px solid yellow; */
    width: 28%;
}
.hr {
    border: 1px solid #ff2a6d;
    width: 648px;
}
.hr3 {
    border: 1px solid #ff2a6d;
    width: 648px;
}
.hr-profile {
    border: 1px solid #005678;
    width: 360px;
    margin: 5px auto;
}
.hr-timeline {
    border: 1px solid #005678;
    width: 700px;
    margin: 5px auto 0px auto;
}
.post-text {
    width: 646px;
    height: 26px;
    background-color: transparent; 
    border: none;
    color: #d1f7ff;
    font-size: 12px;
    letter-spacing: 2px;
}
.post-box {
    border: 1px solid #005678;
    width: 700px;
    margin-bottom: 12px;
}
.post-box:hover {
    border: 1px solid #ff2a6d;
}
.post-box2 {
    border: 1px solid #005678;
    width: 700px;
    margin-bottom: 12px;
}
.post-box-header{
    color: #05d9e8;
    display: flex;
    justify-content: space-between;
    margin: 4px 12px 12px 12px;
}
.post-box-content {
    color: white;
    margin: 4px 12px;
}
.post-box-delete {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #ff2a6d;
    letter-spacing: 4px;
    font-size: 12px;
}
.post-box-delete:hover {
    color:#05d9e8;
    text-shadow: 0px 0px 5px #05d9e8;
}
.post-box-footer {
    color: #ff2a6d;
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 4px 12px;
    letter-spacing: 4px;
    font-size: 12px;
}
.comment-text {
    width: 500px;
    height: 26px;
    background-color: transparent; 
    border: none;
    color: #d1f7ff;
    font-size: 12px;
    letter-spacing: 2px;
}
.comment-box {
    border: 1px solid #005678;
    width: 700px;
    margin-bottom: 12px;
}
.comment-box-header{
    color: #05d9e8;
    display: flex;
    justify-content: space-between;
    margin: 4px 12px 12px 12px;
}
.comment-box-content {
    color: white;
    margin: 4px 12px;
}
.comment-box-footer {
    color: #ff2a6d;
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 4px 12px;
    letter-spacing: 4px;
    font-size: 12px;
}
.drop-down {
    display: inline; 
}
.list-button {
    background-color: transparent;
    color: #05d9e8;
    border: 1px solid #005678;
}
.list {
    background-color: transparent;
    border: none;
    color: #05d9e8;
    font-size: 16px;
}
#tl-Title {
    color: white;
    font-family: 'Orbitron', sans-serif;
}
#timeline-Container {
    text-align: center;
}
#Community-Posts-TL {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    padding: 5px 10px 15px 20px;
    margin: 16px auto;
}
.comment-box-no-access {
    opacity: 40%;
}
#bottom-fade {
	z-index: 99;
	position: fixed;
	height: 125px;
    width: 98%;
    bottom: 0%;
	background-image: url("/images/fade.png");
}
#top-fade {
	z-index: 99;
	position: fixed;
	height: 100px;
    width: 98%;
    top: 70px;
	background-image: url("/images/fade-top.png");
    background-repeat: repeat-x;
}
a {
    text-decoration: none;
    color: inherit;
}
/*#community-posts {
}
*/

body {
    background-color: #01012b;
    font-family: 'Quicksand', sans-serif;
}
main {
    margin-top: 124px;
}
footer {
    color: #ff2a6d;
    text-align: right;
    font-size: 12px;
    letter-spacing: 4px;
    margin-top: auto;
    padding: 25px 10px;
}
#footer-tag {
    margin-top: 115px;
}
label {
    color: #05d9e8;
}
::placeholder {
    color: white;
    opacity: .6; /* Firefox */
}
