<div id="profile-main">
    <section id="profile-layout">
        <div id="profile-top-label">
            YOUR PROFILE
        </div>
        <div id="user-name-section">
            user-name
            <div class="line-seperation"></div>
            USERNAME
        </div>
        <div id="real-name-section">
            Your Name
            <div class="line-seperation"></div>
            NAME
        </div>
        <div id="biography-section">
            BIOGRAPHY
            <div class="line-seperation"></div>
            CONTENT
        </div>
    </section>
</div>