<%- include('../partials/header') %>
    <div id="timeline-Container">
        <div id=tl-Title>
            TIMELINE
        </div>
        <br>
        <div class="hr-profile"></div>
        <div id="Community-Posts">
            
        </div>
    </div>
<%- include('../partials/footer') %>